
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
    background-color: white;
    top: 0%;
}
ul{
    list-style-type: none;

}

.nav-menu li:hover
{

    color: turquoise;
    cursor: pointer;

}


header img{
width: 150px;

}
.img{
    height: 219px;
    width: 273px;
    position: absolute ; 
    margin-left: 50%;
    bottom: 0px;

}

.doc-group {
    width: 296px;
    height: 30px;
}
.header-menu{

  
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
    
    
}
.select{
    height: 50px;
    width: 40px;

}
.menu-principal{
    display: flex;
    top: 0;
    justify-content: left;
}
.li {

    padding: 10%;
    display: flex;
    align-content: center;
    
}
h2{
    Font-size: 14px;
    Font-weight: 400;
    color: cornsilk;

}
h3{
    Font-size: 26px;
    Font-weight: 300;
    color: cornsilk;
}
.doctor
{
    display: flex;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    align-items: center;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.partie-droite{
    display: flex;
}
.partie-droite1{
    display: flex;
    flex-direction: column;
    margin: 5%;
    
}
.partie-droite2{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}
.lead__logo{
  
    width: 50px;
    height: 50px;
    margin-left: 50%;
    margin-top: 10%;
}
.grand-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 315px;
    
}

.btn {

    
    
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
    height: 10px;
}
.cadre-blanc{
    
    flex-flow: column;
    justify-content: space-between;
    background-color: white ;
    text-align:  center;
    margin: 10%;
    width: 225px;
    height: 250px;
}
.list-menu
{
    display: none;

}

.tit1{
    color:rgb(0, 179, 155);
    text-align: center;

font-size: 24px;

Font-weight: 300

Line;height: 31.2px;

}
.tit2{
    color:rgb(0, 179, 155);
    text-align: left;
}
.afterbg{
    display: flex;
    justify-content: space-between;
    
}
.brands__logos li:hover{
    color: turquoise;
    cursor: pointer;

}
.brands__logos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    
    
}
.p11{
    text-align: center;
    font-size: 16;
    font-weight: 400;
    line-height: 28;
    margin-left: 10%;
    TEXT-ALIGN: left;
    margin-right: 100px;
}
.p1{
    display: flex;
    justify-content: space-around;
    


}
h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    
}
h5 {
    font-size: 20px;

    
}
.bgc1{
    position: relative;
    background-color: aquamarine;
    overflow: hidden;
    height: 389px;
    width: 475px;
    border-radius: 8px;
}
.text-marg{
    margin-left: 5%;
}
.bgc2{
    
    position: relative;
    background-color:blue;
    overflow: hidden;
    height: 389px;
    width: 475px;
    border-radius: 8px;
}
.bg1{
    display: flex;
    
}
.bg{
    height: 395px;
    display: flex;
    justify-content: space-around;
}
.img-taille{
    width: 270px;
    height: 220px;
  

}
h4 {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}


.bgsection2{
    display: flex;
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem; ;
}
.images-pays{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 10%;
}
.image1{
   
    line-height: 28px;
}
.pays-but{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-right: 18px;
    padding-left: 20px;
    margin-bottom: 10px;

    
}


.section4{
    text-align: center


}